* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    background: #1d43ca;
    width: 1000px;
    height: 90vh;
    margin: 50px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas: "header header header" "main menu sidebar" "main footer footer";
}

.box {
    background: #98ccfd;
    min-width: 200px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.menu {
    grid-area: menu;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}